.App {
  align-items: center;
  background: linear-gradient(
    125deg,
    rgba(245, 123, 81, 1) 0%,
    rgba(245, 123, 81, 1) 50%,
    rgba(255, 211, 29, 1) 50%,
    rgba(255, 211, 29, 1) 100%
  );
  color: #78909c;
  display: flex;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  width: 100vw;
}